.contact{
    width: 100%;
    /* height: 100vh; */
    background: var(--black);
    padding-top: 143px;
    padding-bottom: 100px;
}

.contact_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_main_txt{
    width: 350px;
}

.contact_main_map{
    width: 933px;
    height: 575px;
    color: var(--wht);
}

.contact_main_map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact_main .projectHeader_text_routes{
    padding-left: 30px;
}

.contact_main .about_title{
    margin-top: 20px;
}

.contact_main_title{
    font-size: 20px;
    font-weight: 300;
    color: var(--wht);
    opacity: .8;
    padding-left: 30px;
}

.contact_main_body{
    font-size: 21px;
    font-weight: 600;
    color: var(--wht);
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
}

.contact_main .nav_socials{
    margin-left: 30px;
}

.contact_main_btn{
    width: 210px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grn);
    color: var(--wht);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .contact{
        padding-bottom: 50px;
    }
    
    .contact_main{
        flex-direction: column-reverse;
    }

    .contact_main_map{
        width: 100%;
        height: 300px;
    }

    .contact_main_txt{
        width: 100%;
    }

    .contact_main .about_title{
        margin-top: 0;
        padding-top: 10px;
        padding-left: 0;
    }

    .contact_main .projectHeader_text_routes{
        padding-left: 0;
        margin-top: 20px;
    }

    .contact_main_title{
        font-size: 15px;
        padding-left: 0;
    }

    .contact_main_body{
        font-size: 16px;
        padding-left: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
    }

    .contact_main .nav_socials{
        margin-left: 0;
        margin-top: 10px;
    }

    .contact_main_btn{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
}